[submodule "app/components/chart"]
	path = app/components/chart
	url = https://github.com/kaukana0/chart.git
[submodule "app/components/processorCountryColors"]
	path = app/components/processorCountryColors
	url = https://github.com/kaukana0/processorCountryColors.git
[submodule "app/components/chartCard"]
	path = app/components/chartCard
	url = https://github.com/kaukana0/chartCard.git
[submodule "app/components/pipeline"]
	path = app/components/pipeline
	url = https://github.com/kaukana0/pipeline.git
[submodule "app/components/util"]
	path = app/components/util
	url = https://github.com/kaukana0/util.git
[submodule "app/components/processorCountries"]
	path = app/components/processorCountries
	url = https://github.com/kaukana0/processorCountries.git
[submodule "app/components/multiDimAccess"]
	path = app/components/multiDimAccess
	url = https://github.com/kaukana0/multiDimAccess.git
[submodule "app/components/eclLikeMenu"]
	path = app/components/eclLikeMenu
	url = https://github.com/kaukana0/eclLikeMenu.git
[submodule "app/components/eclLikeHeroBanner"]
	path = app/components/eclLikeHeroBanner
	url = https://github.com/kaukana0/eclLikeHeroBanner.git
[submodule "app/components/range"]
	path = app/components/range
	url = https://github.com/kaukana0/range.git
[submodule "app/components/processorCountryOrder"]
	path = app/components/processorCountryOrder
	url = https://github.com/kaukana0/processorCountryOrder.git
[submodule "app/components/eclLikeMessage"]
	path = app/components/eclLikeMessage
	url = https://github.com/kaukana0/eclLikeMessage.git
[submodule "app/components/eclLikeModal"]
	path = app/components/eclLikeModal
	url = https://github.com/kaukana0/eclLikeModal.git
[submodule "app/components/select"]
	path = app/components/select
	url = https://github.com/kaukana0/select.git
[submodule "app/components/symbolButton"]
	path = app/components/symbolButton
	url = https://github.com/kaukana0/symbolButton.git
[submodule "app/components/titledSelect"]
	path = app/components/titledSelect
	url = https://github.com/kaukana0/titledSelect.git
[submodule "app/components/ewc-dialog"]
	path = app/components/ewc-dialog
	url = https://citnet.tech.ec.europa.eu/CITnet/stash/scm/ewc/ewc-dialog.git
[submodule "app/components/ewc-dialog-feedback"]
	path = app/components/ewc-dialog-feedback
	url = https://citnet.tech.ec.europa.eu/CITnet/stash/scm/ewc/ewc-dialog-feedback.git
[submodule "app/components/ewc-footer-links"]
	path = app/components/ewc-footer-links
	url = https://citnet.tech.ec.europa.eu/CITnet/stash/scm/ewc/ewc-footer-links.git
