[submodule "app/components/chart"]
	path = app/components/chart
	url = https://github.com/kaukana0/chart.git
[submodule "app/components/processorCountryColors"]
	path = app/components/processorCountryColors
	url = https://github.com/kaukana0/processorCountryColors.git
[submodule "app/components/dropdownBox"]
	path = app/components/dropdownBox
	url = https://github.com/kaukana0/dropdownBox.git
[submodule "app/components/chartCard"]
	path = app/components/chartCard
	url = https://github.com/kaukana0/chartCard.git
[submodule "app/components/pipeline"]
	path = app/components/pipeline
	url = https://github.com/kaukana0/pipeline.git
[submodule "app/components/util"]
	path = app/components/util
	url = https://github.com/kaukana0/util.git
[submodule "app/components/processorCountries"]
	path = app/components/processorCountries
	url = https://github.com/kaukana0/processorCountries.git
[submodule "app/components/multiDimAccess"]
	path = app/components/multiDimAccess
	url = https://github.com/kaukana0/multiDimAccess.git
[submodule "app/components/eclLikeMenu"]
	path = app/components/eclLikeMenu
	url = https://github.com/kaukana0/eclLikeMenu.git
